*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(253, 245, 234);
}
.container{
    height: 440px;
    width: 750px;
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-left:27%;
}

.container:hover{
    box-shadow: 0px 0px 10px 3px #cbcbcb;
}
.travel-reg{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.slideimg-container{
    height: 440px;
    width: 375px;
    border-radius: 15px 0 0 15px;
    background-color: #e67300;
    position: relative;
}

.slide-img{
    height: 440px;
    width: 375px;
    object-fit: cover;
}
.nextprevious-img{
    height: 30px;
    width: 30px;
}
.next{
    position:absolute;
    right: 10px;
    bottom: 200px;
    cursor: pointer;
}
.prev{
    position:absolute;
    left: 10px;
    bottom: 200px;
    cursor: pointer;
}
.form-container{
    max-height: 500px;
    width: 410px;
    background-color:#f8ceba;
    opacity: 70%;
    border-radius: 0 15px 15px 0;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.text-center{
    text-align: center;
}
.font-style{
    font-family:Arial, Helvetica, sans-serif
}
.font-size{
    font-size: 20px;
}
.reg-heading{
    margin-top: 20px;
    font-size: 25px;
    color: #232323;
}  
.input-box{
    width: 290px;
    height: 20px;
    padding: 10px;
    align-items: center;
    border: none;
    background-color:white;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    margin-top: 30px;
}

.input-box:hover{
    border: solid 1px #f45d48;
}
.flexbox{
    display: flex;
    justify-content: row;
}
.ip-box-citystate{
    width: 100px;
    height: 15px;
    margin-left: 28px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 35px;
    margin-top: 5px;
}
.marginfromto{
    margin-top: 5px;
}
.que-margin{
    margin-left: 33px;
    margin-top: 8px;
}
.space{
    margin-top:5px;
}
.condition-margin{
    margin: auto 10px;
}
.specify-box{
    margin-top: 15px;
}
.travellers{
    margin-left: 33px;
    margin-top: 20px;
}
.add-btn{
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 3px;
    margin-left: 33px;
    margin-top: 7px;
    cursor: pointer;
}
.takename{
    padding-left: 10px;
    width: 250px;
    height: 30px;
}
.add-name{
    width: 200px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    margin-left: 3px;
    margin-top: 10px;
    padding: 10px;
    display:inline-block;
}
.submit-btn{
    width: 91%;
    margin: 10px 20px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(208, 79, 79); 
    color: #232323; 
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.submit-btn:hover{
    background-color: white;
    color: black;
    border: solid 1px #e67300;
}
.flexbox-addname{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Media Queries */
@media screen and (max-width: 1000px){
    .container{
        height: 440px;
        width: 700px;
        margin-left: 15%;
        margin-top: 200px;
}

.slideimg-container{
    width:350px;
}
.slide-img{
    height: 440px;
    width: 350px;
    object-fit: cover;
}
.form-container{
    width: 350px;
}
.input-box{
    width: 280px;
    height: 20px;
}
.ip-box-citystate{
    width:120px;
    height: 15px;
    margin-left:20px;
    margin-top: 15px;
}
}
@media screen and (max-width: 800px){
    .container{
        height: 500px;
        width: 420px;
        margin-left: 22%;
        margin-top: 200px;
}

.slideimg-container{
   display: none;
}
.slide-img{
    display: none;
}
.form-container{
    width: 620px;
}
.input-box{
    width: 280px;
    height: 20px;
}
.ip-box-citystate{
    width:105px;
    height: 15px;
    margin-left:50px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 53px;
    margin-top: 5px;
}
.que-margin{
    margin-left: 53px;
}
.add-name{
    margin-left:0px;
}
}
@media screen and (max-width: 600px){
    .container{
        height: 450px;
        width: 350px;
        margin-left: 20%;
        margin-top: 200px;
    }       
.reg-heading{
    font-size: 20px;
}
.slideimg-container{
   display: none;
}
.slide-img{
    display: none;
}
.form-container{
    width: 420px;
}
.input-box{
    width: 250px;
    height: 20px;
}
.ip-box-citystate{
    width:100px;
    height: 15px;
    margin-left:30px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 35px;
    margin-top: 5px;
}
.que-margin{
    margin-left:33px;
}
.add-name{
    margin-left:0px;
}
}

@media screen and (max-width: 450px){
    .container{
        height: 400px;
        width: 310px;
        margin-left: 12%;
        margin-top: 200px;
}
.reg-heading{
    font-size: 20px;
}
.slideimg-container{
   display: none;
}
.slide-img{
    display: none;
}
.form-container{
    width: 420px;
}
.input-box{
    width: 210px;
    height: 15px;
}
.ip-box-citystate{
    width:70px;
    height: 15px;
    margin-left:30px;
    margin-top: 15px;
}
.fromto-text{
    margin: auto 35px;
    margin-top: 5px;
}
.que-margin{
    margin-left:33px;
}
.takename{
    width: 210px;
    height: 30px;
    margin-top: 15px;
}
.add-name{
    margin-left:0px;
}
}
